.movieListItem {
  display: flex;
  margin-bottom: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
  list-style-type: none;
  flex-direction: column;
  flex-basis: auto;
  box-sizing: border-box;
  width: 100%;
  transition: scale 0.2s ease-in-out;
  background-color: black;
}

.movieListItem:hover {
  scale: 1.1;
}

.moviePoster {
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 20px;
  height: 350px;
}

.movieInfo {
  display: flex;
  flex-direction: column;
}

.movieTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.movieYear,
.movieGenre {
  font-size: 16px;
  margin-bottom: 4px;
}
